/* Light background: #3 5 3 6 2 9; */
/* New light dark background #3 2 3 6 3 d */
/* Dark background: #d f e 5 f 2; */

/* TOP MENU */
.sm-dox {
	background: #dfe5f2 !important;
}

.sm-dox a {
	background: none;
}

.highlighted {
	background: none !important;
}

a.highlighted {
	background: none !important;
}

/*********************************************/
/**              Top main menu              **/
/*********************************************/

#main-nav {
	/* display: none; */
	border-bottom: 1px solid #24bbc4;
}

#main-nav .sm-dox {
	background: transparent !important;
}

.sm-dox a {
	text-shadow: none !important;
	background: transparent !important;
}

.sm-dox a:hover {
	background: #282923 !important;
}

.sm-dox {
	text-shadow: none !important;
	box-shadow: none !important;
}

.sm-dox ul {
	border: 1px solid #000000;
	background: #3c3c3c;
}

.directory tr.even {
	background: #3c3c3c;
}

/*********************************************/
/**               Top search                **/
/*********************************************/

#MSearchSelectWindow {
	border: 1px solid #000000;
	background: #151515;
}

a.selectItem {
	padding: 3px;
}

a.SelectItem:hover {
	background: #282923 !important;
}

#MSearchResultsWindow {
	border: 1px solid #000000;
	background: #151515;
}

/*********************************************/
/**                Main menu                **/
/*********************************************/

#nav-tree {
	color: #4665a2;
        text-decoration: none;  
        background: #151515;
}

#nav-tree .selected {
	background-image: none;
	background: #24bbc4;
        color: #151515;
        text-decoration-color: #24bbc4;
        text-shadow: none;
}

#nav-tree .selected a {
        color: #151515;
}

#side-nav {
        margin-right: 0px;
        padding-right: 0px;
}

.ui-resizable-handle {
        width: 3px;
}

/*********************************************/
/**               Main content              **/
/*********************************************/

/*********************************************/
/**               Inline code               **/
/*********************************************/

p code,
li code,
td code,
dd code {
	background-color: #24bbc4; 
	border: 1px solid #A8B8D9;
	color: #151515;
}

code a {
        color: inherit;
}

.el {
        color: inherit;
}

/*********************************************/
/**         Table of Contents (ToC)         **/
/*********************************************/

div.toc {
	background: #32363d;
	border: 1px solid #000000;
}

div.toc h3 {
	font-size: 150%;
	color: inherit;
}

/*********************************************/
/**              Content table              **/
/*********************************************/

table.doxtable tr:nth-child(even) td {
	background: #32363d;
}

/*********************************************/
/**               Field table               **/
/*********************************************/

.fieldtable th {
	background: #24bbc4; 
	color: inherit;
}

/*********************************************/
/**           Memitem and memtitle          **/
/*********************************************/

.memdoc {
	border: 1px solid #d9a8a8;
}

/*********************************************/
/**             TOP navigation              **/
/*********************************************/

.tabs, .tabs2, .tabs3 {
	background: #DDDDDD;
}

.tablist li {
	background: transparent !important;
}

.tablist a {
	background-image: none;
	border-right: 1px solid #24bbc4;
	color: #32363d;
}

.tablist a:hover,
.tablist li.current a {
	text-decoration: none;
	color: #000000;
	background: #CCCCCC;
	background-image: none;
}

/*********************************************/
/**              H1 in textblocks           **/
/*********************************************/

/*********************************************/
/**               Note, warning             **/
/*********************************************/

/*********************************************/
/**               Reference list            **/
/**Similar to warning/note/todo/... messages**/
/*********************************************/

dl.reflist {

}

/*********************************************/
/**               Note, warning             **/
/*********************************************/

#docs_list {
	background: #32363d;
}

#docs_list ul li {
	border-right: 1px solid #BFBFBF;
}

#docs_list ul li a {
	color: #1b1e21;
}

#docs_list ul li a:hover,
#docs_list ul li a.docs_current {
	background: #282923;
}

/*********************************************/
/**               Resizable UI              **/
/*********************************************/

.ui-resizable-e {
	background: #24bbc4;
}

/*********************************************/
/**               Download url              **/
/*********************************************/

/*********************************************/
/**               Syntax folor              **/
/*********************************************/

div.line {
	background: transparent;
	color: inherit;
}

div.line a {
	color: inherit;
}

span.keyword {
	color: #f92472;
	font-style: italic;
}

span.keywordtype {
	color: #67cfc1;
	font-style: italic;
}

span.keywordflow {
	color: #f92472;
	font-style: italic;
}

span.comment {
	color: #74705a;
}

span.preprocessor {
	color: #a6e22b;
}

span.stringliteral {
	color: #e7db74;
}

span.charliteral {
	color: #e7db74;
}

span.vhdldigit { 
	color: #ff00ff;
}

span.vhdlchar { 
	color: #000000;
}

span.vhdlkeyword { 
	color: #700070;
}

span.vhdllogic { 
	color: #ff0000;
}

span.lineno {
	background: transparent;
}

span.lineno a {
	background: transparent;
}

/*********************************************/
/**          Modules/Directory table        **/
/*********************************************/

.mdescLeft, .mdescRight, .memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
        color: #151515;
	background: #24bbc4;
}

.memSeparator {
	border: none;
	background: transparent;
}

/*********************************************/
/**                 Mem items               **/
/*********************************************/

.memproto {
	background: inherit;
	border-color: #000000;
	color: inherit;
	text-shadow: none;
}

.memproto table td {
	font-family: monospace, fixed !important;
}

td.memItemLeft, td.memItemRight {
	font-family: monospace, fixed;
}

.paramname, .paramname em {
	color: #151515;
}

.memdoc {
	background: inherit;
	border-color: #000000;
}

/*********************************************/
/**                 Footer                  **/
/*********************************************/

.titlearea {
	border-bottom: 1px solid #24bbc4;
}

/*********************************************/
/**                 Title                   **/
/*********************************************/

#titlearea
{
        background: #151515;
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-bottom: 3px solid #24bbc4;
        color: #24bbc4;
}

/*********************************************/
/**                 Footer                  **/
/*********************************************/

#foot {
	align-items:center;
        background-color:#151515;
	text-align:center;
	font-size:16px;
	display:flex;
	overflow-x:auto;
	justify-content: center;
	border-top:3px solid #24bbc4;
        padding-top:5px;
	padding-bottom:5px;
}

#footelem {
        padding:2px;
	background-color:#24bbc4;
	color:#232425;
	margin-left:5px;
	margin-right:5px;
}

#nav-path {
        background: #24bbc4;
}

#nav-path ul {
	background: transparent;
	color: inherit;
}

.navpath li.footer {
	color: inherit;
}

.navpath li.navelem a {
	text-shadow: none;
}

.ui-resizable-handle {
        background-color: #24bbc4;
}

/*********************************************/
/**             Custom scrollbar            **/
/*********************************************/

::-webkit-scrollbar {
	width: 10px;
        background: #151515;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #234567;
	border: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #32363d; 
}

/***********************************/
/**             Topbar            **/
/***********************************/

.topnav {
        width: 100%;
        height: auto;
        background-color: #151515;
        overflow-x: auto;
        white-space: nowrap;
        text-align:center;
        position:relative;
        word-spacing: -5px;
}

.topnav a {
        border-color: #24bbc4;
        border-style: solid;
        color: #24bbc4;
        text-decoration: none;
        font-size: 17px;
        padding: 5px;
        display: inline-block;
}

.topnav a:hover {
        background-color: #24bbc4;
        color: #151515;
}

.topnav a.active {
        background-color: #24bbc4;
        color: #151515;
}

/***********************************/
/**            Various            **/
/***********************************/

h1.glow, h2.glow, h3.glow,
h4.glow, h5.glow, h6.glow {
	text-shadow: 0 0 15px #67d8ef;
}

code a:visited {
	color: #151515 !important;
}
        
.entry a:visited {
	color: #151515 !important;
}

.arrow {
        color: #24bbc4;
}

#selected .arrow {
        color: #282923;
}

#projectname {
}

hr {
	height: 0px;
	border: none;
	border-top: 1px solid #24bbc4;
}

table.markdownTable td, table.markdownTable th {
	border: 1px solid #24bbc4;
	padding: 3px 7px 2px;
}

th.markdownTableHeadLeft, th.markdownTableHeadRight, th.markdownTableHeadCenter, th.markdownTableHeadNone {
	background-color: #24bbc4;
	color: #FFFFFF;
	font-size: 110%;
	padding-bottom: 4px;
	padding-top: 5px;
}

div.directory {
	margin: 10px 0px;
	border-top: 1px solid #24bbc4;
	border-bottom: 1px solid #24bbc4;
	width: 100%;
}

table.fieldtable {
	/*width: 100%;*/
	margin-bottom: 10px;
	border: 1px solid #24bbc4;
}

.fieldtable td.fieldtype, .fieldtable td.fieldname {
	#151515-space: nowrap;
	border-right: 1px solid #24bbc4;
	border-bottom: 1px solid #24bbc4;
	vertical-align: top;
}

.fieldtable th {
        border-bottom: 1px solid #24bbc4;
}

.fieldtable td.fielddoc {
	border-bottom: 1px solid #24bbc4;
	/*width: 100%;*/
}

body {
	background: #151515;
	color: #24bbc4;
}

div.fragment, pre.fragment {
	border: 1px solid #24bbc4;
        background: #151515; 
}

div.header {
	background: transparent;
	border-bottom: 1px solid #24bbc4; 
        display: none;
}

h2.groupheader {
        border-bottom: 1px solid #24bbc4;
	color: #24bbc4;
}

.memtitle {
	background: #24bbc4 !important;
	border-color: #000000;
        color: #151515;
}

.memitem {
	background: #24bbc4 !important;
	color: #151515;
	text-shadow: none;
}

.PageDoc a {
	color: #4665a2 !important;
        text-decoration: none;  
}

.memItemRight a {
	color: #151515 !important;
}

.memItemLeft a {
	color: #151515 !important;
}

.memname a {
	color: #151515 !important;
}

.even {
	background: #24bbc4 !important;
	color: #151515 !important;
}

.even a {
	color: #151515 !important;
}

.mdescRight a {
        color: #151515;
}

.mdescRight a:visited {
        color: #151515;
}

.entry {
	background: #24bbc4 !important;
	color: #151515 !important;
}

.entry a {
        text-decoration: none;  
}

.entry el {
        color: #151515;
}

.memdoc a:visited {
        color: #151515;
}

.desc {
	background: #24bbc4 !important;
	color: #151515 !important;
}

#row_1_ {border-top: 2px solid #151515;}
#row_2_ {border-top: 2px solid #151515;}
#row_3_ {border-top: 2px solid #151515;}
#row_4_ {border-top: 2px solid #151515;}
#row_5_ {border-top: 2px solid #151515;}
#row_6_ {border-top: 2px solid #151515;}
#row_7_ {border-top: 2px solid #151515;}
#row_8_ {border-top: 2px solid #151515;}
#row_9_ {border-top: 2px solid #151515;}
#row_10_ {border-top: 2px solid #151515;}
#row_11_ {border-top: 2px solid #151515;}
#row_12_ {border-top: 2px solid #151515;}
#row_13_ {border-top: 2px solid #151515;}
#row_14_ {border-top: 2px solid #151515;}
#row_15_ {border-top: 2px solid #151515;}
#row_16_ {border-top: 2px solid #151515;}
#row_17_ {border-top: 2px solid #151515;}
#row_18_ {border-top: 2px solid #151515;}
#row_19_ {border-top: 2px solid #151515;}
#row_20_ {border-top: 2px solid #151515;}
#row_21_ {border-top: 2px solid #151515;}
#row_22_ {border-top: 2px solid #151515;}
#row_23_ {border-top: 2px solid #151515;}
#row_24_ {border-top: 2px solid #151515;}
#row_25_ {border-top: 2px solid #151515;}
#row_26_ {border-top: 2px solid #151515;}
#row_27_ {border-top: 2px solid #151515;}
#row_28_ {border-top: 2px solid #151515;}
#row_29_ {border-top: 2px solid #151515;}
#row_30_ {border-top: 2px solid #151515;}
#row_31_ {border-top: 2px solid #151515;}
#row_32_ {border-top: 2px solid #151515;}
#row_33_ {border-top: 2px solid #151515;}
#row_34_ {border-top: 2px solid #151515;}
#row_35_ {border-top: 2px solid #151515;}
#row_36_ {border-top: 2px solid #151515;}
#row_37_ {border-top: 2px solid #151515;}
#row_38_ {border-top: 2px solid #151515;}
#row_39_ {border-top: 2px solid #151515;}
#row_40_ {border-top: 2px solid #151515;}
#row_41_ {border-top: 2px solid #151515;}
#row_42_ {border-top: 2px solid #151515;}
#row_43_ {border-top: 2px solid #151515;}
#row_44_ {border-top: 2px solid #151515;}
#row_45_ {border-top: 2px solid #151515;}
#row_46_ {border-top: 2px solid #151515;}
#row_47_ {border-top: 2px solid #151515;}
#row_48_ {border-top: 2px solid #151515;}
#row_49_ {border-top: 2px solid #151515;}
#row_50_ {border-top: 2px solid #151515;}
#row_51_ {border-top: 2px solid #151515;}
#row_52_ {border-top: 2px solid #151515;}
#row_53_ {border-top: 2px solid #151515;}
#row_54_ {border-top: 2px solid #151515;}
#row_55_ {border-top: 2px solid #151515;}
#row_56_ {border-top: 2px solid #151515;}
#row_57_ {border-top: 2px solid #151515;}
#row_58_ {border-top: 2px solid #151515;}
#row_59_ {border-top: 2px solid #151515;}
#row_60_ {border-top: 2px solid #151515;}
#row_61_ {border-top: 2px solid #151515;}
#row_62_ {border-top: 2px solid #151515;}
#row_63_ {border-top: 2px solid #151515;}
#row_64_ {border-top: 2px solid #151515;}
#row_65_ {border-top: 2px solid #151515;}
#row_66_ {border-top: 2px solid #151515;}
#row_67_ {border-top: 2px solid #151515;}
#row_68_ {border-top: 2px solid #151515;}
#row_69_ {border-top: 2px solid #151515;}
#row_70_ {border-top: 2px solid #151515;}
#row_71_ {border-top: 2px solid #151515;}
#row_72_ {border-top: 2px solid #151515;}
#row_73_ {border-top: 2px solid #151515;}
#row_74_ {border-top: 2px solid #151515;}
#row_75_ {border-top: 2px solid #151515;}
#row_76_ {border-top: 2px solid #151515;}
#row_77_ {border-top: 2px solid #151515;}
#row_78_ {border-top: 2px solid #151515;}
#row_79_ {border-top: 2px solid #151515;}
#row_80_ {border-top: 2px solid #151515;}
#row_81_ {border-top: 2px solid #151515;}
#row_82_ {border-top: 2px solid #151515;}
#row_83_ {border-top: 2px solid #151515;}
#row_84_ {border-top: 2px solid #151515;}
#row_85_ {border-top: 2px solid #151515;}
#row_86_ {border-top: 2px solid #151515;}
#row_87_ {border-top: 2px solid #151515;}
#row_88_ {border-top: 2px solid #151515;}
#row_89_ {border-top: 2px solid #151515;}
#row_90_ {border-top: 2px solid #151515;}
#row_91_ {border-top: 2px solid #151515;}
#row_92_ {border-top: 2px solid #151515;}
#row_93_ {border-top: 2px solid #151515;}
#row_94_ {border-top: 2px solid #151515;}
#row_95_ {border-top: 2px solid #151515;}
#row_96_ {border-top: 2px solid #151515;}
#row_97_ {border-top: 2px solid #151515;}
#row_98_ {border-top: 2px solid #151515;}
#row_99_ {border-top: 2px solid #151515;}
#row_100_ {border-top: 2px solid #151515;}
#row_101_ {border-top: 2px solid #151515;}
#row_102_ {border-top: 2px solid #151515;}
#row_103_ {border-top: 2px solid #151515;}
#row_104_ {border-top: 2px solid #151515;}
#row_105_ {border-top: 2px solid #151515;}
#row_106_ {border-top: 2px solid #151515;}
#row_107_ {border-top: 2px solid #151515;}
#row_108_ {border-top: 2px solid #151515;}
#row_109_ {border-top: 2px solid #151515;}
#row_110_ {border-top: 2px solid #151515;}
#row_111_ {border-top: 2px solid #151515;}
#row_112_ {border-top: 2px solid #151515;}
#row_113_ {border-top: 2px solid #151515;}
#row_114_ {border-top: 2px solid #151515;}
#row_115_ {border-top: 2px solid #151515;}
#row_116_ {border-top: 2px solid #151515;}
#row_117_ {border-top: 2px solid #151515;}
#row_118_ {border-top: 2px solid #151515;}
#row_119_ {border-top: 2px solid #151515;}
#row_120_ {border-top: 2px solid #151515;}
#row_121_ {border-top: 2px solid #151515;}
#row_122_ {border-top: 2px solid #151515;}
#row_123_ {border-top: 2px solid #151515;}
#row_124_ {border-top: 2px solid #151515;}
#row_125_ {border-top: 2px solid #151515;}
#row_126_ {border-top: 2px solid #151515;}
#row_127_ {border-top: 2px solid #151515;}
#row_128_ {border-top: 2px solid #151515;}
#row_129_ {border-top: 2px solid #151515;}
#row_130_ {border-top: 2px solid #151515;}
#row_131_ {border-top: 2px solid #151515;}
#row_132_ {border-top: 2px solid #151515;}
#row_133_ {border-top: 2px solid #151515;}
#row_134_ {border-top: 2px solid #151515;}
#row_135_ {border-top: 2px solid #151515;}
#row_136_ {border-top: 2px solid #151515;}
#row_137_ {border-top: 2px solid #151515;}
#row_138_ {border-top: 2px solid #151515;}
#row_139_ {border-top: 2px solid #151515;}
#row_140_ {border-top: 2px solid #151515;}
#row_141_ {border-top: 2px solid #151515;}
#row_142_ {border-top: 2px solid #151515;}
#row_143_ {border-top: 2px solid #151515;}
#row_144_ {border-top: 2px solid #151515;}
#row_145_ {border-top: 2px solid #151515;}
#row_146_ {border-top: 2px solid #151515;}
#row_147_ {border-top: 2px solid #151515;}
#row_148_ {border-top: 2px solid #151515;}
#row_149_ {border-top: 2px solid #151515;}
#row_150_ {border-top: 2px solid #151515;}
#row_151_ {border-top: 2px solid #151515;}
#row_152_ {border-top: 2px solid #151515;}
#row_153_ {border-top: 2px solid #151515;}
#row_154_ {border-top: 2px solid #151515;}
#row_155_ {border-top: 2px solid #151515;}
#row_156_ {border-top: 2px solid #151515;}
#row_157_ {border-top: 2px solid #151515;}
#row_158_ {border-top: 2px solid #151515;}
#row_159_ {border-top: 2px solid #151515;}
#row_160_ {border-top: 2px solid #151515;}
#row_161_ {border-top: 2px solid #151515;}
#row_162_ {border-top: 2px solid #151515;}
#row_163_ {border-top: 2px solid #151515;}
#row_164_ {border-top: 2px solid #151515;}
#row_165_ {border-top: 2px solid #151515;}
#row_166_ {border-top: 2px solid #151515;}
#row_167_ {border-top: 2px solid #151515;}
#row_168_ {border-top: 2px solid #151515;}
#row_169_ {border-top: 2px solid #151515;}
#row_170_ {border-top: 2px solid #151515;}
#row_171_ {border-top: 2px solid #151515;}
#row_172_ {border-top: 2px solid #151515;}
#row_173_ {border-top: 2px solid #151515;}
#row_174_ {border-top: 2px solid #151515;}
#row_175_ {border-top: 2px solid #151515;}
#row_176_ {border-top: 2px solid #151515;}
#row_177_ {border-top: 2px solid #151515;}
#row_178_ {border-top: 2px solid #151515;}
#row_179_ {border-top: 2px solid #151515;}
#row_180_ {border-top: 2px solid #151515;}
#row_181_ {border-top: 2px solid #151515;}
#row_182_ {border-top: 2px solid #151515;}
#row_183_ {border-top: 2px solid #151515;}
#row_184_ {border-top: 2px solid #151515;}
#row_185_ {border-top: 2px solid #151515;}
#row_186_ {border-top: 2px solid #151515;}
#row_187_ {border-top: 2px solid #151515;}
#row_188_ {border-top: 2px solid #151515;}
#row_189_ {border-top: 2px solid #151515;}
#row_190_ {border-top: 2px solid #151515;}
#row_191_ {border-top: 2px solid #151515;}
#row_192_ {border-top: 2px solid #151515;}
#row_193_ {border-top: 2px solid #151515;}
#row_194_ {border-top: 2px solid #151515;}
#row_195_ {border-top: 2px solid #151515;}
#row_196_ {border-top: 2px solid #151515;}
#row_197_ {border-top: 2px solid #151515;}
#row_198_ {border-top: 2px solid #151515;}
#row_199_ {border-top: 2px solid #151515;}
#row_200_ {border-top: 2px solid #151515;}
#row_201_ {border-top: 2px solid #151515;}
#row_202_ {border-top: 2px solid #151515;}
#row_203_ {border-top: 2px solid #151515;}
#row_204_ {border-top: 2px solid #151515;}
#row_205_ {border-top: 2px solid #151515;}
#row_206_ {border-top: 2px solid #151515;}
#row_207_ {border-top: 2px solid #151515;}
#row_208_ {border-top: 2px solid #151515;}
#row_209_ {border-top: 2px solid #151515;}
#row_210_ {border-top: 2px solid #151515;}
#row_211_ {border-top: 2px solid #151515;}
#row_212_ {border-top: 2px solid #151515;}
#row_213_ {border-top: 2px solid #151515;}
#row_214_ {border-top: 2px solid #151515;}
#row_215_ {border-top: 2px solid #151515;}
#row_216_ {border-top: 2px solid #151515;}
#row_217_ {border-top: 2px solid #151515;}
#row_218_ {border-top: 2px solid #151515;}
#row_219_ {border-top: 2px solid #151515;}
#row_220_ {border-top: 2px solid #151515;}
#row_221_ {border-top: 2px solid #151515;}
#row_222_ {border-top: 2px solid #151515;}
#row_223_ {border-top: 2px solid #151515;}
#row_224_ {border-top: 2px solid #151515;}
#row_225_ {border-top: 2px solid #151515;}
#row_226_ {border-top: 2px solid #151515;}
#row_227_ {border-top: 2px solid #151515;}
#row_228_ {border-top: 2px solid #151515;}
#row_229_ {border-top: 2px solid #151515;}
#row_230_ {border-top: 2px solid #151515;}
#row_231_ {border-top: 2px solid #151515;}
#row_232_ {border-top: 2px solid #151515;}
#row_233_ {border-top: 2px solid #151515;}
#row_234_ {border-top: 2px solid #151515;}
#row_235_ {border-top: 2px solid #151515;}
#row_236_ {border-top: 2px solid #151515;}
#row_237_ {border-top: 2px solid #151515;}
#row_238_ {border-top: 2px solid #151515;}
#row_239_ {border-top: 2px solid #151515;}
#row_240_ {border-top: 2px solid #151515;}
#row_241_ {border-top: 2px solid #151515;}
#row_242_ {border-top: 2px solid #151515;}
#row_243_ {border-top: 2px solid #151515;}
#row_244_ {border-top: 2px solid #151515;}
#row_245_ {border-top: 2px solid #151515;}
#row_246_ {border-top: 2px solid #151515;}
#row_247_ {border-top: 2px solid #151515;}
#row_248_ {border-top: 2px solid #151515;}
#row_249_ {border-top: 2px solid #151515;}
#row_250_ {border-top: 2px solid #151515;}
#row_251_ {border-top: 2px solid #151515;}
#row_252_ {border-top: 2px solid #151515;}
#row_253_ {border-top: 2px solid #151515;}
#row_254_ {border-top: 2px solid #151515;}
#row_255_ {border-top: 2px solid #151515;}
#row_256_ {border-top: 2px solid #151515;}
#row_257_ {border-top: 2px solid #151515;}
#row_258_ {border-top: 2px solid #151515;}
#row_259_ {border-top: 2px solid #151515;}
#row_260_ {border-top: 2px solid #151515;}
#row_261_ {border-top: 2px solid #151515;}
#row_262_ {border-top: 2px solid #151515;}
#row_263_ {border-top: 2px solid #151515;}
#row_264_ {border-top: 2px solid #151515;}
#row_265_ {border-top: 2px solid #151515;}
#row_266_ {border-top: 2px solid #151515;}
#row_267_ {border-top: 2px solid #151515;}
#row_268_ {border-top: 2px solid #151515;}
#row_269_ {border-top: 2px solid #151515;}
#row_270_ {border-top: 2px solid #151515;}
#row_271_ {border-top: 2px solid #151515;}
#row_272_ {border-top: 2px solid #151515;}
#row_273_ {border-top: 2px solid #151515;}
#row_274_ {border-top: 2px solid #151515;}
#row_275_ {border-top: 2px solid #151515;}
#row_276_ {border-top: 2px solid #151515;}
#row_277_ {border-top: 2px solid #151515;}
#row_278_ {border-top: 2px solid #151515;}
#row_279_ {border-top: 2px solid #151515;}
#row_280_ {border-top: 2px solid #151515;}
#row_281_ {border-top: 2px solid #151515;}
#row_282_ {border-top: 2px solid #151515;}
#row_283_ {border-top: 2px solid #151515;}
#row_284_ {border-top: 2px solid #151515;}
#row_285_ {border-top: 2px solid #151515;}
#row_286_ {border-top: 2px solid #151515;}
#row_287_ {border-top: 2px solid #151515;}
#row_288_ {border-top: 2px solid #151515;}
#row_289_ {border-top: 2px solid #151515;}
#row_290_ {border-top: 2px solid #151515;}
#row_291_ {border-top: 2px solid #151515;}
#row_292_ {border-top: 2px solid #151515;}
#row_293_ {border-top: 2px solid #151515;}
#row_294_ {border-top: 2px solid #151515;}
#row_295_ {border-top: 2px solid #151515;}
#row_296_ {border-top: 2px solid #151515;}
#row_297_ {border-top: 2px solid #151515;}
#row_298_ {border-top: 2px solid #151515;}
#row_299_ {border-top: 2px solid #151515;}
#row_300_ {border-top: 2px solid #151515;}
#row_301_ {border-top: 2px solid #151515;}
#row_302_ {border-top: 2px solid #151515;}
#row_303_ {border-top: 2px solid #151515;}
#row_304_ {border-top: 2px solid #151515;}
#row_305_ {border-top: 2px solid #151515;}
#row_306_ {border-top: 2px solid #151515;}
#row_307_ {border-top: 2px solid #151515;}
#row_308_ {border-top: 2px solid #151515;}
#row_309_ {border-top: 2px solid #151515;}
#row_310_ {border-top: 2px solid #151515;}
#row_311_ {border-top: 2px solid #151515;}
#row_312_ {border-top: 2px solid #151515;}
#row_313_ {border-top: 2px solid #151515;}
#row_314_ {border-top: 2px solid #151515;}
#row_315_ {border-top: 2px solid #151515;}
#row_316_ {border-top: 2px solid #151515;}
#row_317_ {border-top: 2px solid #151515;}
#row_318_ {border-top: 2px solid #151515;}
#row_319_ {border-top: 2px solid #151515;}
#row_320_ {border-top: 2px solid #151515;}
#row_321_ {border-top: 2px solid #151515;}
#row_322_ {border-top: 2px solid #151515;}
#row_323_ {border-top: 2px solid #151515;}
#row_324_ {border-top: 2px solid #151515;}
#row_325_ {border-top: 2px solid #151515;}
#row_326_ {border-top: 2px solid #151515;}
#row_327_ {border-top: 2px solid #151515;}
#row_328_ {border-top: 2px solid #151515;}
#row_329_ {border-top: 2px solid #151515;}
#row_330_ {border-top: 2px solid #151515;}
#row_331_ {border-top: 2px solid #151515;}
#row_332_ {border-top: 2px solid #151515;}
#row_333_ {border-top: 2px solid #151515;}
#row_334_ {border-top: 2px solid #151515;}
#row_335_ {border-top: 2px solid #151515;}
#row_336_ {border-top: 2px solid #151515;}
#row_337_ {border-top: 2px solid #151515;}
#row_338_ {border-top: 2px solid #151515;}
#row_339_ {border-top: 2px solid #151515;}
#row_340_ {border-top: 2px solid #151515;}
#row_341_ {border-top: 2px solid #151515;}
#row_342_ {border-top: 2px solid #151515;}
#row_343_ {border-top: 2px solid #151515;}
#row_344_ {border-top: 2px solid #151515;}
#row_345_ {border-top: 2px solid #151515;}
#row_346_ {border-top: 2px solid #151515;}
#row_347_ {border-top: 2px solid #151515;}
#row_348_ {border-top: 2px solid #151515;}
#row_349_ {border-top: 2px solid #151515;}
#row_350_ {border-top: 2px solid #151515;}
#row_351_ {border-top: 2px solid #151515;}
#row_352_ {border-top: 2px solid #151515;}
#row_353_ {border-top: 2px solid #151515;}
#row_354_ {border-top: 2px solid #151515;}
#row_355_ {border-top: 2px solid #151515;}
#row_356_ {border-top: 2px solid #151515;}
#row_357_ {border-top: 2px solid #151515;}
#row_358_ {border-top: 2px solid #151515;}
#row_359_ {border-top: 2px solid #151515;}
#row_360_ {border-top: 2px solid #151515;}
#row_361_ {border-top: 2px solid #151515;}
#row_362_ {border-top: 2px solid #151515;}
#row_363_ {border-top: 2px solid #151515;}
#row_364_ {border-top: 2px solid #151515;}
#row_365_ {border-top: 2px solid #151515;}
#row_366_ {border-top: 2px solid #151515;}
#row_367_ {border-top: 2px solid #151515;}
#row_368_ {border-top: 2px solid #151515;}
#row_369_ {border-top: 2px solid #151515;}
#row_370_ {border-top: 2px solid #151515;}
#row_371_ {border-top: 2px solid #151515;}
#row_372_ {border-top: 2px solid #151515;}
#row_373_ {border-top: 2px solid #151515;}
#row_374_ {border-top: 2px solid #151515;}
#row_375_ {border-top: 2px solid #151515;}
#row_376_ {border-top: 2px solid #151515;}
#row_377_ {border-top: 2px solid #151515;}
#row_378_ {border-top: 2px solid #151515;}
#row_379_ {border-top: 2px solid #151515;}
#row_380_ {border-top: 2px solid #151515;}
#row_381_ {border-top: 2px solid #151515;}
#row_382_ {border-top: 2px solid #151515;}
#row_383_ {border-top: 2px solid #151515;}
#row_384_ {border-top: 2px solid #151515;}
#row_385_ {border-top: 2px solid #151515;}
#row_386_ {border-top: 2px solid #151515;}
#row_387_ {border-top: 2px solid #151515;}
#row_388_ {border-top: 2px solid #151515;}
#row_389_ {border-top: 2px solid #151515;}
#row_390_ {border-top: 2px solid #151515;}
#row_391_ {border-top: 2px solid #151515;}
#row_392_ {border-top: 2px solid #151515;}
#row_393_ {border-top: 2px solid #151515;}
#row_394_ {border-top: 2px solid #151515;}
#row_395_ {border-top: 2px solid #151515;}
#row_396_ {border-top: 2px solid #151515;}
#row_397_ {border-top: 2px solid #151515;}
#row_398_ {border-top: 2px solid #151515;}
#row_399_ {border-top: 2px solid #151515;}
#row_400_ {border-top: 2px solid #151515;}
#row_401_ {border-top: 2px solid #151515;}
#row_402_ {border-top: 2px solid #151515;}
#row_403_ {border-top: 2px solid #151515;}
#row_404_ {border-top: 2px solid #151515;}
#row_405_ {border-top: 2px solid #151515;}
#row_406_ {border-top: 2px solid #151515;}
#row_407_ {border-top: 2px solid #151515;}
#row_408_ {border-top: 2px solid #151515;}
#row_409_ {border-top: 2px solid #151515;}
#row_410_ {border-top: 2px solid #151515;}
#row_411_ {border-top: 2px solid #151515;}
#row_412_ {border-top: 2px solid #151515;}
#row_413_ {border-top: 2px solid #151515;}
#row_414_ {border-top: 2px solid #151515;}
#row_415_ {border-top: 2px solid #151515;}
#row_416_ {border-top: 2px solid #151515;}
#row_417_ {border-top: 2px solid #151515;}
#row_418_ {border-top: 2px solid #151515;}
#row_419_ {border-top: 2px solid #151515;}
#row_420_ {border-top: 2px solid #151515;}
#row_421_ {border-top: 2px solid #151515;}
#row_422_ {border-top: 2px solid #151515;}
#row_423_ {border-top: 2px solid #151515;}
#row_424_ {border-top: 2px solid #151515;}
#row_425_ {border-top: 2px solid #151515;}
#row_426_ {border-top: 2px solid #151515;}
#row_427_ {border-top: 2px solid #151515;}
#row_428_ {border-top: 2px solid #151515;}
#row_429_ {border-top: 2px solid #151515;}
#row_430_ {border-top: 2px solid #151515;}
#row_431_ {border-top: 2px solid #151515;}
#row_432_ {border-top: 2px solid #151515;}
#row_433_ {border-top: 2px solid #151515;}
#row_434_ {border-top: 2px solid #151515;}
#row_435_ {border-top: 2px solid #151515;}
#row_436_ {border-top: 2px solid #151515;}
#row_437_ {border-top: 2px solid #151515;}
#row_438_ {border-top: 2px solid #151515;}
#row_439_ {border-top: 2px solid #151515;}
#row_440_ {border-top: 2px solid #151515;}
#row_441_ {border-top: 2px solid #151515;}
#row_442_ {border-top: 2px solid #151515;}
#row_443_ {border-top: 2px solid #151515;}
#row_444_ {border-top: 2px solid #151515;}
#row_445_ {border-top: 2px solid #151515;}
#row_446_ {border-top: 2px solid #151515;}
#row_447_ {border-top: 2px solid #151515;}
#row_448_ {border-top: 2px solid #151515;}
#row_449_ {border-top: 2px solid #151515;}
#row_450_ {border-top: 2px solid #151515;}
#row_451_ {border-top: 2px solid #151515;}
#row_452_ {border-top: 2px solid #151515;}
#row_453_ {border-top: 2px solid #151515;}
#row_454_ {border-top: 2px solid #151515;}
#row_455_ {border-top: 2px solid #151515;}
#row_456_ {border-top: 2px solid #151515;}
#row_457_ {border-top: 2px solid #151515;}
#row_458_ {border-top: 2px solid #151515;}
#row_459_ {border-top: 2px solid #151515;}
#row_460_ {border-top: 2px solid #151515;}
#row_461_ {border-top: 2px solid #151515;}
#row_462_ {border-top: 2px solid #151515;}
#row_463_ {border-top: 2px solid #151515;}
#row_464_ {border-top: 2px solid #151515;}
#row_465_ {border-top: 2px solid #151515;}
#row_466_ {border-top: 2px solid #151515;}
#row_467_ {border-top: 2px solid #151515;}
#row_468_ {border-top: 2px solid #151515;}
#row_469_ {border-top: 2px solid #151515;}
#row_470_ {border-top: 2px solid #151515;}
#row_471_ {border-top: 2px solid #151515;}
#row_472_ {border-top: 2px solid #151515;}
#row_473_ {border-top: 2px solid #151515;}
#row_474_ {border-top: 2px solid #151515;}
#row_475_ {border-top: 2px solid #151515;}
#row_476_ {border-top: 2px solid #151515;}
#row_477_ {border-top: 2px solid #151515;}
#row_478_ {border-top: 2px solid #151515;}
#row_479_ {border-top: 2px solid #151515;}
#row_480_ {border-top: 2px solid #151515;}
#row_481_ {border-top: 2px solid #151515;}
#row_482_ {border-top: 2px solid #151515;}
#row_483_ {border-top: 2px solid #151515;}
#row_484_ {border-top: 2px solid #151515;}
#row_485_ {border-top: 2px solid #151515;}
#row_486_ {border-top: 2px solid #151515;}
#row_487_ {border-top: 2px solid #151515;}
#row_488_ {border-top: 2px solid #151515;}
#row_489_ {border-top: 2px solid #151515;}
#row_490_ {border-top: 2px solid #151515;}
#row_491_ {border-top: 2px solid #151515;}
#row_492_ {border-top: 2px solid #151515;}
#row_493_ {border-top: 2px solid #151515;}
#row_494_ {border-top: 2px solid #151515;}
#row_495_ {border-top: 2px solid #151515;}
#row_496_ {border-top: 2px solid #151515;}
#row_497_ {border-top: 2px solid #151515;}
#row_498_ {border-top: 2px solid #151515;}
#row_499_ {border-top: 2px solid #151515;}
#row_500_ {border-top: 2px solid #151515;}
#row_501_ {border-top: 2px solid #151515;}
#row_502_ {border-top: 2px solid #151515;}
#row_503_ {border-top: 2px solid #151515;}
#row_504_ {border-top: 2px solid #151515;}
#row_505_ {border-top: 2px solid #151515;}
#row_506_ {border-top: 2px solid #151515;}
#row_507_ {border-top: 2px solid #151515;}
#row_508_ {border-top: 2px solid #151515;}
#row_509_ {border-top: 2px solid #151515;}
#row_510_ {border-top: 2px solid #151515;}
#row_511_ {border-top: 2px solid #151515;}
#row_512_ {border-top: 2px solid #151515;}
#row_513_ {border-top: 2px solid #151515;}
#row_514_ {border-top: 2px solid #151515;}
#row_515_ {border-top: 2px solid #151515;}
#row_516_ {border-top: 2px solid #151515;}
#row_517_ {border-top: 2px solid #151515;}
#row_518_ {border-top: 2px solid #151515;}
#row_519_ {border-top: 2px solid #151515;}
#row_520_ {border-top: 2px solid #151515;}
#row_521_ {border-top: 2px solid #151515;}
#row_522_ {border-top: 2px solid #151515;}
#row_523_ {border-top: 2px solid #151515;}
#row_524_ {border-top: 2px solid #151515;}
#row_525_ {border-top: 2px solid #151515;}
#row_526_ {border-top: 2px solid #151515;}
#row_527_ {border-top: 2px solid #151515;}
#row_528_ {border-top: 2px solid #151515;}
#row_529_ {border-top: 2px solid #151515;}
#row_530_ {border-top: 2px solid #151515;}
#row_531_ {border-top: 2px solid #151515;}
#row_532_ {border-top: 2px solid #151515;}
#row_533_ {border-top: 2px solid #151515;}
#row_534_ {border-top: 2px solid #151515;}
#row_535_ {border-top: 2px solid #151515;}
#row_536_ {border-top: 2px solid #151515;}
#row_537_ {border-top: 2px solid #151515;}
#row_538_ {border-top: 2px solid #151515;}
#row_539_ {border-top: 2px solid #151515;}
#row_540_ {border-top: 2px solid #151515;}
#row_541_ {border-top: 2px solid #151515;}
#row_542_ {border-top: 2px solid #151515;}
#row_543_ {border-top: 2px solid #151515;}
#row_544_ {border-top: 2px solid #151515;}
#row_545_ {border-top: 2px solid #151515;}
#row_546_ {border-top: 2px solid #151515;}
#row_547_ {border-top: 2px solid #151515;}
#row_548_ {border-top: 2px solid #151515;}
#row_549_ {border-top: 2px solid #151515;}
#row_550_ {border-top: 2px solid #151515;}
#row_551_ {border-top: 2px solid #151515;}
#row_552_ {border-top: 2px solid #151515;}
#row_553_ {border-top: 2px solid #151515;}
#row_554_ {border-top: 2px solid #151515;}
#row_555_ {border-top: 2px solid #151515;}
#row_556_ {border-top: 2px solid #151515;}
#row_557_ {border-top: 2px solid #151515;}
#row_558_ {border-top: 2px solid #151515;}
#row_559_ {border-top: 2px solid #151515;}
#row_560_ {border-top: 2px solid #151515;}
#row_561_ {border-top: 2px solid #151515;}
#row_562_ {border-top: 2px solid #151515;}
#row_563_ {border-top: 2px solid #151515;}
#row_564_ {border-top: 2px solid #151515;}
#row_565_ {border-top: 2px solid #151515;}
#row_566_ {border-top: 2px solid #151515;}
#row_567_ {border-top: 2px solid #151515;}
#row_568_ {border-top: 2px solid #151515;}
#row_569_ {border-top: 2px solid #151515;}
#row_570_ {border-top: 2px solid #151515;}
#row_571_ {border-top: 2px solid #151515;}
#row_572_ {border-top: 2px solid #151515;}
#row_573_ {border-top: 2px solid #151515;}
#row_574_ {border-top: 2px solid #151515;}
#row_575_ {border-top: 2px solid #151515;}
#row_576_ {border-top: 2px solid #151515;}
#row_577_ {border-top: 2px solid #151515;}
#row_578_ {border-top: 2px solid #151515;}
#row_579_ {border-top: 2px solid #151515;}
#row_580_ {border-top: 2px solid #151515;}
#row_581_ {border-top: 2px solid #151515;}
#row_582_ {border-top: 2px solid #151515;}
#row_583_ {border-top: 2px solid #151515;}
#row_584_ {border-top: 2px solid #151515;}
#row_585_ {border-top: 2px solid #151515;}
#row_586_ {border-top: 2px solid #151515;}
#row_587_ {border-top: 2px solid #151515;}
#row_588_ {border-top: 2px solid #151515;}
#row_589_ {border-top: 2px solid #151515;}
#row_590_ {border-top: 2px solid #151515;}
#row_591_ {border-top: 2px solid #151515;}
#row_592_ {border-top: 2px solid #151515;}
#row_593_ {border-top: 2px solid #151515;}
#row_594_ {border-top: 2px solid #151515;}
#row_595_ {border-top: 2px solid #151515;}
#row_596_ {border-top: 2px solid #151515;}
#row_597_ {border-top: 2px solid #151515;}
#row_598_ {border-top: 2px solid #151515;}
#row_599_ {border-top: 2px solid #151515;}
#row_600_ {border-top: 2px solid #151515;}
#row_601_ {border-top: 2px solid #151515;}
#row_602_ {border-top: 2px solid #151515;}
#row_603_ {border-top: 2px solid #151515;}
#row_604_ {border-top: 2px solid #151515;}
#row_605_ {border-top: 2px solid #151515;}
#row_606_ {border-top: 2px solid #151515;}
#row_607_ {border-top: 2px solid #151515;}
#row_608_ {border-top: 2px solid #151515;}
#row_609_ {border-top: 2px solid #151515;}
#row_610_ {border-top: 2px solid #151515;}
#row_611_ {border-top: 2px solid #151515;}
#row_612_ {border-top: 2px solid #151515;}
#row_613_ {border-top: 2px solid #151515;}
#row_614_ {border-top: 2px solid #151515;}
#row_615_ {border-top: 2px solid #151515;}
#row_616_ {border-top: 2px solid #151515;}
#row_617_ {border-top: 2px solid #151515;}
#row_618_ {border-top: 2px solid #151515;}
#row_619_ {border-top: 2px solid #151515;}
#row_620_ {border-top: 2px solid #151515;}
#row_621_ {border-top: 2px solid #151515;}
#row_622_ {border-top: 2px solid #151515;}
#row_623_ {border-top: 2px solid #151515;}
#row_624_ {border-top: 2px solid #151515;}
#row_625_ {border-top: 2px solid #151515;}
#row_626_ {border-top: 2px solid #151515;}
#row_627_ {border-top: 2px solid #151515;}
#row_628_ {border-top: 2px solid #151515;}
#row_629_ {border-top: 2px solid #151515;}
#row_630_ {border-top: 2px solid #151515;}
#row_631_ {border-top: 2px solid #151515;}
#row_632_ {border-top: 2px solid #151515;}
#row_633_ {border-top: 2px solid #151515;}
#row_634_ {border-top: 2px solid #151515;}
#row_635_ {border-top: 2px solid #151515;}
#row_636_ {border-top: 2px solid #151515;}
#row_637_ {border-top: 2px solid #151515;}
#row_638_ {border-top: 2px solid #151515;}
#row_639_ {border-top: 2px solid #151515;}
#row_640_ {border-top: 2px solid #151515;}
#row_641_ {border-top: 2px solid #151515;}
#row_642_ {border-top: 2px solid #151515;}
#row_643_ {border-top: 2px solid #151515;}
#row_644_ {border-top: 2px solid #151515;}
#row_645_ {border-top: 2px solid #151515;}
#row_646_ {border-top: 2px solid #151515;}
#row_647_ {border-top: 2px solid #151515;}
#row_648_ {border-top: 2px solid #151515;}
#row_649_ {border-top: 2px solid #151515;}
#row_650_ {border-top: 2px solid #151515;}
#row_651_ {border-top: 2px solid #151515;}
#row_652_ {border-top: 2px solid #151515;}
#row_653_ {border-top: 2px solid #151515;}
#row_654_ {border-top: 2px solid #151515;}
#row_655_ {border-top: 2px solid #151515;}
#row_656_ {border-top: 2px solid #151515;}
#row_657_ {border-top: 2px solid #151515;}
#row_658_ {border-top: 2px solid #151515;}
#row_659_ {border-top: 2px solid #151515;}
#row_660_ {border-top: 2px solid #151515;}
#row_661_ {border-top: 2px solid #151515;}
#row_662_ {border-top: 2px solid #151515;}
#row_663_ {border-top: 2px solid #151515;}
#row_664_ {border-top: 2px solid #151515;}
#row_665_ {border-top: 2px solid #151515;}
#row_666_ {border-top: 2px solid #151515;}
#row_667_ {border-top: 2px solid #151515;}
#row_668_ {border-top: 2px solid #151515;}
#row_669_ {border-top: 2px solid #151515;}
#row_670_ {border-top: 2px solid #151515;}
#row_671_ {border-top: 2px solid #151515;}
#row_672_ {border-top: 2px solid #151515;}
#row_673_ {border-top: 2px solid #151515;}
#row_674_ {border-top: 2px solid #151515;}
#row_675_ {border-top: 2px solid #151515;}
#row_676_ {border-top: 2px solid #151515;}
#row_677_ {border-top: 2px solid #151515;}
#row_678_ {border-top: 2px solid #151515;}
#row_679_ {border-top: 2px solid #151515;}
#row_680_ {border-top: 2px solid #151515;}
#row_681_ {border-top: 2px solid #151515;}
#row_682_ {border-top: 2px solid #151515;}
#row_683_ {border-top: 2px solid #151515;}
#row_684_ {border-top: 2px solid #151515;}
#row_685_ {border-top: 2px solid #151515;}
#row_686_ {border-top: 2px solid #151515;}
#row_687_ {border-top: 2px solid #151515;}
#row_688_ {border-top: 2px solid #151515;}
#row_689_ {border-top: 2px solid #151515;}
#row_690_ {border-top: 2px solid #151515;}
#row_691_ {border-top: 2px solid #151515;}
#row_692_ {border-top: 2px solid #151515;}
#row_693_ {border-top: 2px solid #151515;}
#row_694_ {border-top: 2px solid #151515;}
#row_695_ {border-top: 2px solid #151515;}
#row_696_ {border-top: 2px solid #151515;}
#row_697_ {border-top: 2px solid #151515;}
#row_698_ {border-top: 2px solid #151515;}
#row_699_ {border-top: 2px solid #151515;}
#row_700_ {border-top: 2px solid #151515;}
#row_701_ {border-top: 2px solid #151515;}
#row_702_ {border-top: 2px solid #151515;}
#row_703_ {border-top: 2px solid #151515;}
#row_704_ {border-top: 2px solid #151515;}
#row_705_ {border-top: 2px solid #151515;}
#row_706_ {border-top: 2px solid #151515;}
#row_707_ {border-top: 2px solid #151515;}
#row_708_ {border-top: 2px solid #151515;}
#row_709_ {border-top: 2px solid #151515;}
#row_710_ {border-top: 2px solid #151515;}
#row_711_ {border-top: 2px solid #151515;}
#row_712_ {border-top: 2px solid #151515;}
#row_713_ {border-top: 2px solid #151515;}
#row_714_ {border-top: 2px solid #151515;}
#row_715_ {border-top: 2px solid #151515;}
#row_716_ {border-top: 2px solid #151515;}
#row_717_ {border-top: 2px solid #151515;}
#row_718_ {border-top: 2px solid #151515;}
#row_719_ {border-top: 2px solid #151515;}
#row_720_ {border-top: 2px solid #151515;}
#row_721_ {border-top: 2px solid #151515;}
#row_722_ {border-top: 2px solid #151515;}
#row_723_ {border-top: 2px solid #151515;}
#row_724_ {border-top: 2px solid #151515;}
#row_725_ {border-top: 2px solid #151515;}
#row_726_ {border-top: 2px solid #151515;}
#row_727_ {border-top: 2px solid #151515;}
#row_728_ {border-top: 2px solid #151515;}
#row_729_ {border-top: 2px solid #151515;}
#row_730_ {border-top: 2px solid #151515;}
#row_731_ {border-top: 2px solid #151515;}
#row_732_ {border-top: 2px solid #151515;}
#row_733_ {border-top: 2px solid #151515;}
#row_734_ {border-top: 2px solid #151515;}
#row_735_ {border-top: 2px solid #151515;}
#row_736_ {border-top: 2px solid #151515;}
#row_737_ {border-top: 2px solid #151515;}
#row_738_ {border-top: 2px solid #151515;}
#row_739_ {border-top: 2px solid #151515;}
#row_740_ {border-top: 2px solid #151515;}
#row_741_ {border-top: 2px solid #151515;}
#row_742_ {border-top: 2px solid #151515;}
#row_743_ {border-top: 2px solid #151515;}
#row_744_ {border-top: 2px solid #151515;}
#row_745_ {border-top: 2px solid #151515;}
#row_746_ {border-top: 2px solid #151515;}
#row_747_ {border-top: 2px solid #151515;}
#row_748_ {border-top: 2px solid #151515;}
#row_749_ {border-top: 2px solid #151515;}
#row_750_ {border-top: 2px solid #151515;}
#row_751_ {border-top: 2px solid #151515;}
#row_752_ {border-top: 2px solid #151515;}
#row_753_ {border-top: 2px solid #151515;}
#row_754_ {border-top: 2px solid #151515;}
#row_755_ {border-top: 2px solid #151515;}
#row_756_ {border-top: 2px solid #151515;}
#row_757_ {border-top: 2px solid #151515;}
#row_758_ {border-top: 2px solid #151515;}
#row_759_ {border-top: 2px solid #151515;}
#row_760_ {border-top: 2px solid #151515;}
#row_761_ {border-top: 2px solid #151515;}
#row_762_ {border-top: 2px solid #151515;}
#row_763_ {border-top: 2px solid #151515;}
#row_764_ {border-top: 2px solid #151515;}
#row_765_ {border-top: 2px solid #151515;}
#row_766_ {border-top: 2px solid #151515;}
#row_767_ {border-top: 2px solid #151515;}
#row_768_ {border-top: 2px solid #151515;}
#row_769_ {border-top: 2px solid #151515;}
#row_770_ {border-top: 2px solid #151515;}
#row_771_ {border-top: 2px solid #151515;}
#row_772_ {border-top: 2px solid #151515;}
#row_773_ {border-top: 2px solid #151515;}
#row_774_ {border-top: 2px solid #151515;}
#row_775_ {border-top: 2px solid #151515;}
#row_776_ {border-top: 2px solid #151515;}
#row_777_ {border-top: 2px solid #151515;}
#row_778_ {border-top: 2px solid #151515;}
#row_779_ {border-top: 2px solid #151515;}
#row_780_ {border-top: 2px solid #151515;}
#row_781_ {border-top: 2px solid #151515;}
#row_782_ {border-top: 2px solid #151515;}
#row_783_ {border-top: 2px solid #151515;}
#row_784_ {border-top: 2px solid #151515;}
#row_785_ {border-top: 2px solid #151515;}
#row_786_ {border-top: 2px solid #151515;}
#row_787_ {border-top: 2px solid #151515;}
#row_788_ {border-top: 2px solid #151515;}
#row_789_ {border-top: 2px solid #151515;}
#row_790_ {border-top: 2px solid #151515;}
#row_791_ {border-top: 2px solid #151515;}
#row_792_ {border-top: 2px solid #151515;}
#row_793_ {border-top: 2px solid #151515;}
#row_794_ {border-top: 2px solid #151515;}
#row_795_ {border-top: 2px solid #151515;}
#row_796_ {border-top: 2px solid #151515;}
#row_797_ {border-top: 2px solid #151515;}
#row_798_ {border-top: 2px solid #151515;}
#row_799_ {border-top: 2px solid #151515;}
#row_800_ {border-top: 2px solid #151515;}
#row_801_ {border-top: 2px solid #151515;}
#row_802_ {border-top: 2px solid #151515;}
#row_803_ {border-top: 2px solid #151515;}
#row_804_ {border-top: 2px solid #151515;}
#row_805_ {border-top: 2px solid #151515;}
#row_806_ {border-top: 2px solid #151515;}
#row_807_ {border-top: 2px solid #151515;}
#row_808_ {border-top: 2px solid #151515;}
#row_809_ {border-top: 2px solid #151515;}
#row_810_ {border-top: 2px solid #151515;}
#row_811_ {border-top: 2px solid #151515;}
#row_812_ {border-top: 2px solid #151515;}
#row_813_ {border-top: 2px solid #151515;}
#row_814_ {border-top: 2px solid #151515;}
#row_815_ {border-top: 2px solid #151515;}
#row_816_ {border-top: 2px solid #151515;}
#row_817_ {border-top: 2px solid #151515;}
#row_818_ {border-top: 2px solid #151515;}
#row_819_ {border-top: 2px solid #151515;}
#row_820_ {border-top: 2px solid #151515;}
#row_821_ {border-top: 2px solid #151515;}
#row_822_ {border-top: 2px solid #151515;}
#row_823_ {border-top: 2px solid #151515;}
#row_824_ {border-top: 2px solid #151515;}
#row_825_ {border-top: 2px solid #151515;}
#row_826_ {border-top: 2px solid #151515;}
#row_827_ {border-top: 2px solid #151515;}
#row_828_ {border-top: 2px solid #151515;}
#row_829_ {border-top: 2px solid #151515;}
#row_830_ {border-top: 2px solid #151515;}
#row_831_ {border-top: 2px solid #151515;}
#row_832_ {border-top: 2px solid #151515;}
#row_833_ {border-top: 2px solid #151515;}
#row_834_ {border-top: 2px solid #151515;}
#row_835_ {border-top: 2px solid #151515;}
#row_836_ {border-top: 2px solid #151515;}
#row_837_ {border-top: 2px solid #151515;}
#row_838_ {border-top: 2px solid #151515;}
#row_839_ {border-top: 2px solid #151515;}
#row_840_ {border-top: 2px solid #151515;}
#row_841_ {border-top: 2px solid #151515;}
#row_842_ {border-top: 2px solid #151515;}
#row_843_ {border-top: 2px solid #151515;}
#row_844_ {border-top: 2px solid #151515;}
#row_845_ {border-top: 2px solid #151515;}
#row_846_ {border-top: 2px solid #151515;}
#row_847_ {border-top: 2px solid #151515;}
#row_848_ {border-top: 2px solid #151515;}
#row_849_ {border-top: 2px solid #151515;}
#row_850_ {border-top: 2px solid #151515;}
#row_851_ {border-top: 2px solid #151515;}
#row_852_ {border-top: 2px solid #151515;}
#row_853_ {border-top: 2px solid #151515;}
#row_854_ {border-top: 2px solid #151515;}
#row_855_ {border-top: 2px solid #151515;}
#row_856_ {border-top: 2px solid #151515;}
#row_857_ {border-top: 2px solid #151515;}
#row_858_ {border-top: 2px solid #151515;}
#row_859_ {border-top: 2px solid #151515;}
#row_860_ {border-top: 2px solid #151515;}
#row_861_ {border-top: 2px solid #151515;}
#row_862_ {border-top: 2px solid #151515;}
#row_863_ {border-top: 2px solid #151515;}
#row_864_ {border-top: 2px solid #151515;}
#row_865_ {border-top: 2px solid #151515;}
#row_866_ {border-top: 2px solid #151515;}
#row_867_ {border-top: 2px solid #151515;}
#row_868_ {border-top: 2px solid #151515;}
#row_869_ {border-top: 2px solid #151515;}
#row_870_ {border-top: 2px solid #151515;}
#row_871_ {border-top: 2px solid #151515;}
#row_872_ {border-top: 2px solid #151515;}
#row_873_ {border-top: 2px solid #151515;}
#row_874_ {border-top: 2px solid #151515;}
#row_875_ {border-top: 2px solid #151515;}
#row_876_ {border-top: 2px solid #151515;}
#row_877_ {border-top: 2px solid #151515;}
#row_878_ {border-top: 2px solid #151515;}
#row_879_ {border-top: 2px solid #151515;}
#row_880_ {border-top: 2px solid #151515;}
#row_881_ {border-top: 2px solid #151515;}
#row_882_ {border-top: 2px solid #151515;}
#row_883_ {border-top: 2px solid #151515;}
#row_884_ {border-top: 2px solid #151515;}
#row_885_ {border-top: 2px solid #151515;}
#row_886_ {border-top: 2px solid #151515;}
#row_887_ {border-top: 2px solid #151515;}
#row_888_ {border-top: 2px solid #151515;}
#row_889_ {border-top: 2px solid #151515;}
#row_890_ {border-top: 2px solid #151515;}
#row_891_ {border-top: 2px solid #151515;}
#row_892_ {border-top: 2px solid #151515;}
#row_893_ {border-top: 2px solid #151515;}
#row_894_ {border-top: 2px solid #151515;}
#row_895_ {border-top: 2px solid #151515;}
#row_896_ {border-top: 2px solid #151515;}
#row_897_ {border-top: 2px solid #151515;}
#row_898_ {border-top: 2px solid #151515;}
#row_899_ {border-top: 2px solid #151515;}
#row_900_ {border-top: 2px solid #151515;}
#row_901_ {border-top: 2px solid #151515;}
#row_902_ {border-top: 2px solid #151515;}
#row_903_ {border-top: 2px solid #151515;}
#row_904_ {border-top: 2px solid #151515;}
#row_905_ {border-top: 2px solid #151515;}
#row_906_ {border-top: 2px solid #151515;}
#row_907_ {border-top: 2px solid #151515;}
#row_908_ {border-top: 2px solid #151515;}
#row_909_ {border-top: 2px solid #151515;}
#row_910_ {border-top: 2px solid #151515;}
#row_911_ {border-top: 2px solid #151515;}
#row_912_ {border-top: 2px solid #151515;}
#row_913_ {border-top: 2px solid #151515;}
#row_914_ {border-top: 2px solid #151515;}
#row_915_ {border-top: 2px solid #151515;}
#row_916_ {border-top: 2px solid #151515;}
#row_917_ {border-top: 2px solid #151515;}
#row_918_ {border-top: 2px solid #151515;}
#row_919_ {border-top: 2px solid #151515;}
#row_920_ {border-top: 2px solid #151515;}
#row_921_ {border-top: 2px solid #151515;}
#row_922_ {border-top: 2px solid #151515;}
#row_923_ {border-top: 2px solid #151515;}
#row_924_ {border-top: 2px solid #151515;}
#row_925_ {border-top: 2px solid #151515;}
#row_926_ {border-top: 2px solid #151515;}
#row_927_ {border-top: 2px solid #151515;}
#row_928_ {border-top: 2px solid #151515;}
#row_929_ {border-top: 2px solid #151515;}
#row_930_ {border-top: 2px solid #151515;}
#row_931_ {border-top: 2px solid #151515;}
#row_932_ {border-top: 2px solid #151515;}
#row_933_ {border-top: 2px solid #151515;}
#row_934_ {border-top: 2px solid #151515;}
#row_935_ {border-top: 2px solid #151515;}
#row_936_ {border-top: 2px solid #151515;}
#row_937_ {border-top: 2px solid #151515;}
#row_938_ {border-top: 2px solid #151515;}
#row_939_ {border-top: 2px solid #151515;}
#row_940_ {border-top: 2px solid #151515;}
#row_941_ {border-top: 2px solid #151515;}
#row_942_ {border-top: 2px solid #151515;}
#row_943_ {border-top: 2px solid #151515;}
#row_944_ {border-top: 2px solid #151515;}
#row_945_ {border-top: 2px solid #151515;}
#row_946_ {border-top: 2px solid #151515;}
#row_947_ {border-top: 2px solid #151515;}
#row_948_ {border-top: 2px solid #151515;}
#row_949_ {border-top: 2px solid #151515;}
#row_950_ {border-top: 2px solid #151515;}
#row_951_ {border-top: 2px solid #151515;}
#row_952_ {border-top: 2px solid #151515;}
#row_953_ {border-top: 2px solid #151515;}
#row_954_ {border-top: 2px solid #151515;}
#row_955_ {border-top: 2px solid #151515;}
#row_956_ {border-top: 2px solid #151515;}
#row_957_ {border-top: 2px solid #151515;}
#row_958_ {border-top: 2px solid #151515;}
#row_959_ {border-top: 2px solid #151515;}
#row_960_ {border-top: 2px solid #151515;}
#row_961_ {border-top: 2px solid #151515;}
#row_962_ {border-top: 2px solid #151515;}
#row_963_ {border-top: 2px solid #151515;}
#row_964_ {border-top: 2px solid #151515;}
#row_965_ {border-top: 2px solid #151515;}
#row_966_ {border-top: 2px solid #151515;}
#row_967_ {border-top: 2px solid #151515;}
#row_968_ {border-top: 2px solid #151515;}
#row_969_ {border-top: 2px solid #151515;}
#row_970_ {border-top: 2px solid #151515;}
#row_971_ {border-top: 2px solid #151515;}
#row_972_ {border-top: 2px solid #151515;}
#row_973_ {border-top: 2px solid #151515;}
#row_974_ {border-top: 2px solid #151515;}
#row_975_ {border-top: 2px solid #151515;}
#row_976_ {border-top: 2px solid #151515;}
#row_977_ {border-top: 2px solid #151515;}
#row_978_ {border-top: 2px solid #151515;}
#row_979_ {border-top: 2px solid #151515;}
#row_980_ {border-top: 2px solid #151515;}
#row_981_ {border-top: 2px solid #151515;}
#row_982_ {border-top: 2px solid #151515;}
#row_983_ {border-top: 2px solid #151515;}
#row_984_ {border-top: 2px solid #151515;}
#row_985_ {border-top: 2px solid #151515;}
#row_986_ {border-top: 2px solid #151515;}
#row_987_ {border-top: 2px solid #151515;}
#row_988_ {border-top: 2px solid #151515;}
#row_989_ {border-top: 2px solid #151515;}
#row_990_ {border-top: 2px solid #151515;}
#row_991_ {border-top: 2px solid #151515;}
#row_992_ {border-top: 2px solid #151515;}
#row_993_ {border-top: 2px solid #151515;}
#row_994_ {border-top: 2px solid #151515;}
#row_995_ {border-top: 2px solid #151515;}
#row_996_ {border-top: 2px solid #151515;}
#row_997_ {border-top: 2px solid #151515;}
#row_998_ {border-top: 2px solid #151515;}
#row_999_ {border-top: 2px solid #151515;}
